<a href="https://colab.research.google.com/github/thinkinchicken/Project-2/blob/main/Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

First Choice: Data set

1) Source of Data: Kaggle

2) 1700 individual chocolate bar ratings, regional origin, percentage of coca, and variety of chocolate bean, and region of where they were grown. 

3) Target is the rating of the chocolate bar

4) This is a regression problem. 

5) 8 features

6) 1795 rows

7) Challenges is some columns have null values for certain features. May need some extra cleaning

In [10]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/07 Week 7: Classification Models/flavors_of_cacao.csv')
df.shape

(1795, 9)

In [12]:
df.head()
df['Bean\nType'].value_counts()

Â                            887
Trinitario                  419
Criollo                     153
Forastero                    87
Forastero (Nacional)         52
Blend                        41
Criollo, Trinitario          39
Forastero (Arriba)           37
Criollo (Porcelana)          10
Trinitario, Criollo           9
Forastero (Parazinho)         8
Forastero (Arriba) ASS        6
EET                           3
Nacional (Arriba)             3
Matina                        3
Beniano                       3
Trinitario, Forastero         2
Nacional                      2
Amazon mix                    2
Criollo, Forastero            2
Criollo (Amarru)              2
Criollo (Ocumare 61)          2
Forastero (Catongo)           2
Trinitario (85% Criollo)      2
Amazon, ICS                   2
Amazon                        1
CCN51                         1
Criollo (Ocumare 77)          1
Forastero, Trinitario         1
Criollo, +                    1
Trinitario (Amelonado)        1
Forastero(Arriba, CCN)        1
Criollo (Wild)                1
Criollo (Ocumare 67)          1
Criollo (Ocumare)             1
Trinitario, TCGA              1
Trinitario, Nacional          1
Forastero (Amelonado)         1
Trinitario (Scavina)          1
Forastero (Arriba) ASSS       1
Blend-Forastero,Criollo       1
Name: Bean\nType, dtype: int64

Second Choice: Data set 2

1) Source of Data: Kaggle

2) Data includes country, locality, market, goods purchased, price, currency used, quantity, and month/year of purchase of food prices worldwide

3) Target is the price of the food

4) This is a regression problem

5) 10 features

6) 743914 rows of data

7) Challenges I foresee is that the dataset may need extra cleaning and there are also a lot of features that are necessarily numerical. 
It is a very large dataset that may also take a lot of time to train and test on.

In [14]:
df2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/07 Week 7: Classification Models/wfp_market_food_prices.csv',encoding='latin-1')
df2.head()

   adm0_id    adm0_name  adm1_id  ... mp_year  mp_price mp_commoditysource
0        1  Afghanistan      272  ...    2014      50.0                WFP
1        1  Afghanistan      272  ...    2014      50.0                WFP
2        1  Afghanistan      272  ...    2014      50.0                WFP
3        1  Afghanistan      272  ...    2014      50.0                WFP
4        1  Afghanistan      272  ...    2014      50.0                WFP

[5 rows x 18 columns]

In [15]:
df2.shape

(743914, 18)